@media print {
  body {
    font-size: 12px;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}

section h1 {
  font-size: 2.3rem;
}

.sub-section {
  page-break-after: always;
}

/* TOTALS LIST */
.totals-list .totals-list__item,
.totals-list .totals-list__total {
  padding: 0.125rem 0;
  /* border-top: 1px solid lightgray; */
  /* margin-left: -0.5rem; */
  /* margin-right: -0.5rem; */
}

.totals-list .totals-list__total {
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid lightgray;
}

.totals-list .totals-list__item .totals-list__item-title {
  margin: 0;
  font-weight: bold;
  color: #444444;
}

.totals-list .totals-list__item ul {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.totals-list .totals-list__item li {
  display: flex;
}

.totals-list .totals-list__item li .totals-list__item-quantity {
  margin-right: 0.25rem;
}

.location-orders .location-orders__customer {
  margin-bottom: 2rem;
}

.location-orders .location-orders__note {
  margin-bottom: 0.5rem;
}

.location-orders .location-orders__customer-name {
  margin-bottom: 0.5rem;
}

.location-orders .location-orders__address {
  margin-bottom: 0.5rem;
}
